@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gray:  #1C1C1C;
    --green: #C9CD1A;
    --white: #FFFFFF;
    --font-family: "Itim";
    --turquise: #1ACDAD;
    --footer-gray: #303030;
    --very-light-gray: #A0A0A0;
}
.container{
    padding: 30px 150px;
    /* max-width: 1150px;
    margin: 0 auto; */
  
}
nav{
    background-color:var(--gray);
    display: flex;
    justify-content: space-between;
    
}
.li1{
    list-style: none;
    font-family: var(--font-family);
}
#ul1{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-size: 20px;
}
#home{
    color: var(--green);
}
.other-li{
    color: var(--white);
    
}
h2{
    color: var(--gray);
    font-size: 98px;
    font-family: var(--font-family);
    font-weight: 400;
    padding-bottom: 20px;
}
#ul2{
    display: flex;
    gap: 20px;
    padding-left: 30px;
}
main{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    
}
#movie-cover{
     height: 80%;
    
}
.li2{
    color: var(--green);
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 400;
    list-style: var(--turquise);
    padding-right: 20px;
    
}
.li2::marker{
    color: var(--turquise);
}
#li-1{
    list-style: none;
    /* margin-right: 10px; */
}
#p-1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 487px;
    line-height: 142%
}
#p-2{
    font-family: var(--font-family);
    font-weight: 400;
    width: 500px;
    color: var(--very-light-gray);
}

button{
    height: 58px;
    width: 205px;
    background-color: var(--green);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    color: var(--white);
    border: none;
    border-radius: 10px;
}
footer{
    background-color: var(--footer-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#icon{
    width: 10%;
}
#p-2{
   text-align: center;
   padding-top: 21px;
   /* line-height: 140%; */
}
#app-icons{
    margin-top: 33px;
}
#hamburger{
    display: none;
}
@media (max-width: 926px) {
    body{
        overflow-x: hidden;
    }
    .li1{
        display: none;
    }
    .container{
        padding: 25px 20px;
    }
    #hamburger{
        display: block;
        padding: 0 20px;
        height: 26px;
    }
    main{
        flex-direction: column-reverse;
    }
    #img-1{
        width: 103px;
    }
    #img-2{
        width: 95%;
        align-self: center;
        display: flex;
        justify-self: center;
    }
    #div1{
        text-align: center;
        /* display: flex; */
        /* justify-content: center; */
    }
    .li2{
        font-size: 16.01px;
        display: flex;
        font-weight: 400;
    }
    #p-1{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 19px;
        line-height: 2;

    }
    button{
        margin-bottom: 70px;
    }
    #icon{
        height: 32px;
        width: 88px;
    }
    #ul2{
        display: flex;
        justify-content: center;
    }
    #p-2{
        font-size: 15px;
    }
}